.chat{
    position: fixed;
    height: 100%;
    width: calc(100% - 324px);
    right: 0;
}

.header__chat{
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    padding-bottom: 14px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #E0E0E0;

    z-index: 1000;
}

.channel_name__chat{
    width: 970px;
    margin: 0 auto;
}

.wrapper__chat{
    position: relative;
    height: calc(100% - 66px);
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
    
}

.input__chat{
    position: absolute;
    width: 100%;
    height: 52px;
    bottom: 40px;

    background-color: #3C393F;
    border-radius: 8px;
}

.input__chat > .message_text{
    position: absolute;
    top: 16px;
    left: 17px;

    width: calc(100% - 78px);

    background: transparent;
    border: none;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #E0E0E0;
}

.input__chat > .message_text::placeholder{


    color: #828282;
}

.input__chat > .message_submit{
    position: absolute;
    top: 6px;
    right: 7px;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    padding-left: 12px;

    background: #2F80ED;
    border-radius: 8px;

    cursor: pointer;
}
.messages__chat{
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    width: 100%;
    height: calc(100% - 10.5%);
    bottom: 93px;
    z-index: 70;
    overflow-y: auto;
}

.message__messages{
    position: relative;
    min-height: 62px;
    height: fit-content;
    width: 100%;
    margin-bottom: 30px;
}

.avatar__message{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 42px;
    height: 42px;
    overflow: hidden;

    border-radius: 7px;
}

.avatar__message > img{
    width: 42px;
    -webkit-user-drag: none;

}

.username__message{
    display: inline;
    width: fit-content;
    margin-left: 70px;
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    letter-spacing: -0.035em;
    
    color: #828282;
}
.date__message{
    display: inline;
    width: fit-content;
    margin-left: 10px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: -0.035em;
    
    color: #828282;
}

.text__message{
    margin-left: 70px;
    margin-top: 12px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #E0E0E0;
}

@media (max-width: 1400px) {
    .wrapper__chat{
        width: 90%;
    }

    .channel_name__chat{
        width: 90%;

    }
}
