.window{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0,0, 0.3);
    visibility: hidden;
}

.window_add_channel{
    position: relative;
    width: 656px;
    height: 359px;
    left: 25%;
    top: 30%;

    background: #120F13;
    border-radius: 24px;
}

.title_add_channel{
    position: absolute;
    left: 45px;
    top: 35px;
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #F2F2F2;
    user-select: none;

    
}

.input_add_channel_name{
    position: absolute;
    width: 572.47px;
    height: 48px;
    left: 45px;
    top: 86px;

    background: #3C393F;
    border-radius: 8px;
}

.input_add_channel_name > input{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 14px;
    background: transparent;
    border: 0;
    width: calc(100% - 29px);
    color: #F2F2F2;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.035em;
}

.input_add_channel_name > input::placeholder {
    color: #828282;
}

.input_add_channel_description {
    position: absolute;
    left: 45px;
    top: 160px;

    width: 572.47px;
    height: 115.55px;
    background: #3C393F;
    border-radius: 8px;
}

.input_add_channel_description > textarea {
    position: absolute;
    top: 10px;
    left: 12px;
    width: calc(100% - 25px);
    height: calc(100% - 20px);
    color: #F2F2F2;

    background: transparent;
    border: 0;
    resize: none;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.035em;

}

.input_add_channel_description > textarea::placeholder{
    color: #828282;
}


.button_add_channel_save{
    position: absolute;
    width: 99px;
    height: 39px;
    top: 298px;
    right: 40px;
    /* Blue 1 */

    background: #2F80ED;
    border-radius: 8px;
    padding-left: 30px;
    padding-top: 7px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    letter-spacing: -0.035em;
    
    color: #F2F2F2;
    user-select: none;
    cursor:pointer;
}